<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.86.0" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net452" />
  <package id="DotCEP" version="1.2.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="linq2db" version="1.0.7.1" targetFramework="net452" />
  <package id="linq2db.SQLite" version="1.7.6" targetFramework="net452" />
  <package id="linq2db.t4models" version="1.0.7.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Spartacus" version="0.42.0" targetFramework="net452" />
  <package id="SQLite.Native" version="3.12.3" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.104.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core.MSIL" version="1.0.104.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.104.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.104.0" targetFramework="net452" />
  <package id="System.Data.SQLite.MSIL" version="1.0.104.0" targetFramework="net452" />
  <package id="System.Data.SQLite.x64" version="1.0.104.0" targetFramework="net452" />
  <package id="System.Data.SQLite.x86" version="1.0.104.0" targetFramework="net452" />
</packages>